*{
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:#937070;
}

header {
  background-color:darkred;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container{
  width:100%;
  margin:0;
  padding:0;
  background-color: #cdf7cd;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.ingredients,.instructions{
  margin:50px;
  padding:5px;
}

h1,
h2 {
  margin:0;
  padding:0;
}

ul,ol{
  margin-top:5px;
  padding:0;
}

.photo {
  float: right;
  margin-left: 20px;
}

.photo img {
  width: 300px;
  height:200px;
  border-radius:20px;
  margin: auto;
}
.photo img {
    border: 1px solid #ddd;
    width:auto;
}